{% extends "base.html" %}
{% block title %} {{ title }} {% endblock%}
{% block page_content %}
<br>
<div class="card">
    <div class="card-body">
        <h4 class="card-title"> {{ title }} </h4>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!</strong> {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="post" action="">
            {% csrf_token %}

            {% include 'bs4_form.html' with form=form %}
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="create_another">
                <label class="form-check-label" for="create_another">Skapa en till</label>
            </div>
            <button type="submit" class="btn btn-primary">Lägg till</button>
        </form>
    </div>
</div>
{% endblock %}
