{% extends "base.html" %}
{% block title %} Start {% endblock%}
{% block page_content %}
{% if user.is_authenticated %}
<p></p>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!</strong> {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="container">
    <h4 class="title">{{ player.name }}</h4>
    <div class="row">
        <div class="col">
            <b>Böter</b>
            <p class="card-text">{{ player.fine_amount }} kr</p>
        </div>
        <div class="col">
            <b>Betalt</b>
            <p class="card-text">{{ player.payed }} kr</p>
        </div>
        <div class="col">
            <b>Att betala</b>
            <p class="card-text {% if player.left_to_pay > 0 %} text-danger {% elif player.left_to_pay < 0 %} text-success {% else %} {% endif %}">{{ player.left_to_pay }} kr</p>
        </div>
    </div>
</div>
<br>
<div class="table-responsive">
    <h3>Senaste böterna</h3>
    <table class="table table-striped table-sm table-responsive-sm">
        <thead class="thead-dark">
        <tr class="table-secondary">
            <th class="align-middle text-center" scope="col">Överträdelse</th>
            <th class="align-middle" scope="col">Spelare</th>
            <th class="align-middle text-center" scope="col">Belopp</th>
            <th class="align-middle text-center" scope="col">Registrerad</th>
            {% if request.user.is_staff %}
                <th class="align-middle text-center" scope="col"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for fine in fines%}
            <tr>
                <td class="align-middle">{{ fine.violation_display}}</td>
                <td><a class="nav-link" href="{% url 'player_detail' pk=fine.player.pk %}">{{ fine.player.name}}</a></td>
                <td class="align-middle text-center">{{ fine.amount }} kr</td>
                <td class="align-middle text-center">{{ fine.timestamp|date:'H:i Y-m-d' }} av {{ fine.created_by.first_name }} {{ fine.created_by.last_name }}</td>
                {% if request.user.is_staff %}
                    <td class="align-middle" scope="row"><a href="{% url 'remove_fine' fine.pk %}" role="button" class="btn btn-link">Ta bort</a></td>
                {% endif %}
            </tr>
        {% empty %}
        <tr>
            <th class="align-middle" scope="row">Inga händelser registrerade</th>
            <th class="align-middle" scope="row"></th>
            <th class="align-middle" scope="row"></th>
            <th class="align-middle" scope="row"></th>
            {% if request.user.is_staff %}
                <th class="align-middle" scope="row"></th>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p></p>
<div class="card">
    <div class="card-body">
        <div>
            <h3>Du måste vara inloggad för att kunna se våra böter.</h3>
        </div>
        <br>
        <div class="d-flex">
            <div>
                <a href="{% url 'login' %}" role="button" class="btn btn-info">Logga in</a>
            </div>
            <div class="ml-auto">
                <a href="{% url 'signup' %}" role="button" class="btn btn-secondary">Registrera dig</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}