{% extends "base.html" %}
{% load fines_extras %}
{% block title %} Detaljer: {{ player.name }} {% endblock%}
{% block page_content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!</strong> {{ message }}
        </div>
    {% endfor %}
{% endif %}
<h2>{{ player.name }}</h2>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col">
                <b>Antal böter</b>
                <p class="card-text">{{ player.num_fines }} st</p>
            </div>
            <div class="col">
                <b>Summa böter</b>
                <p class="card-text">{{ player.fine_amount }} kr</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <b>Antal betalningar</b>
                <p class="card-text">{{ player.num_payments }} st</p>
            </div>
            <div class="col">
                <b>Summa betalat</b>
                <p class="card-text">{{ player.payed }} kr</p>
            </div>
        </div>

    </div>
</div>
<h5>Historik</h5>
<table class="table table-striped table-hover table-sm table-responsive-sm">
    <thead class="thead-dark">
    <tr>
        <th class="align-middle" scope="col">#</th>
        <th class="align-middle" scope="col">Händelse</th>
        <th class="align-middle" scope="col">Belopp (kr)</th>
        <th class="align-middle" scope="col">Registrerad</th>
        {% if request.user.is_staff %}
        <th class="align-middle" scope="col"></th>
        <th class="align-middle" scope="col"></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
        {% for entity in player.history %}
        <tr>
            <th class="align-middle" scope="row">{{ forloop.counter }}</th>
            {% if entity|is_fine_instance %}
                <th class="align-middle" scope="row">{{ entity.violation_display }}</th>
                <th class="align-middle text-danger" scope="row">-{{ entity.amount }} kr</th>
            {% else %}
                <th class="align-middle" scope="row">Inbetalning</th>
                <th class="align-middle text-success" scope="row">+{{ entity.amount }} kr</th>
            {% endif %}
            <th class="align-middle" scope="row">{{ entity.timestamp|date:'H:i Y-m-d' }} av {{ entity.created_by.first_name }} {{ entity.created_by.last_name }}</th>
            {% if request.user.is_staff %}
                {% if entity|is_fine_instance %}
                    <th class="align-middle" scope="row"><a href="{% url 'remove_fine' entity.pk %}" role="button" class="btn btn-link">Ta bort</a></th>
                    {% else %}
                    <th class="align-middle" scope="row"><a href="{% url 'remove_payment' entity.pk %}" role="button" class="btn btn-link">Ta bort</a></th>
                {% endif %}
            {% endif %}
        </tr>
        {% empty %}
        <tr>
            <th class="align-middle" scope="row">Inga händelser registrerade</th>
            <th class="align-middle" scope="row"></th>
            <th class="align-middle" scope="row"></th>
            <th class="align-middle" scope="row"></th>
            {% if request.user.is_staff %}
                <th class="align-middle" scope="row"></th>
                <th class="align-middle" scope="row"></th>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}